@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&family=Julee&family=Pacifico&display=swap');
*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
.active{
	color: #cfb27e !important;
	border-bottom: 2px solid #cfb27e;
}
header{
	display: block;
	position: fixed;
	z-index: 3;
	margin: 0px, auto;
	background-color:rgba(48, 39, 21, 0.7);
	height:80px;
}
#logo{
	float: left;
	display: inline-block;
}
#logo img{
	width: 450px;
	margin-top:15px;
	margin-left:30px;
}
nav{
	display: inline-block;
	float: right;
	text-align: right;
	position: relative;
	margin: 10px 50px;
}
nav ul li{
	list-style-type: none;
	display: inline;
	letter-spacing:1px;
	margin-left: 50px;
	display: inline-block;
	padding: 17px 15px 0px 0px;
	text-transform: uppercase;
	font-size: 18px;
}
nav ul li a{
	font-weight: 500;
	color: #FFF;
}
nav ul li a:hover{
	border-bottom: 2px solid #cfb27e;
}
.clear{
	clear: both;
}
header, footer, #pekara{
	width:100%;
}
footer{
	background-color:rgb(48, 39, 21);
	display: block;
}
.sadržaj-futera{
	display:flex;
	align-items:center;
	padding:30px 0px;
	color:#FFF;
	width:1200px;
	margin: 0px auto;
}
#pekara{
	text-align:center;
}
#pekara h1, #pekara p{
	position: relative;
	letter-spacing: 1px;
	font-style:italic;
	top: 340px;
	text-shadow: 2px 2px 2px #000;
}
#pekara h1{
	font-size: 110px;
}
#pekara p{
	font-size:40px;
	font-weight:900;
	animation-name: fadeIn;
    animation-duration: 1s;
}
.dugme{
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 15px;
    background-color: #cfb27e;
    text-transform: uppercase;
	font-weight: 600;
    color: #000;
    letter-spacing: 3px;
	transition: all 0.3s;
	box-shadow: 2px 2px 2px #000;
}
.strelica a{
    color: #fff;
    font-size: 50px;
    position: relative;
    animation: animacija 1s infinite;
    text-shadow: 2px 2px 5px #000;
}
@keyframes animacija {
    0%{
        bottom: -50px;
    }
	50%{
		bottom: -60px;
	}
    100%{
        bottom: -70px;
    }
}
.top{
	margin-top:390px;
}
.marginLeft{
	margin-left:270px;
}
.marginTop50{
	margin-top:70px;
}
#pekara p, #pekara h1, #pekara button{
	color:#FFF;
}
.dugme:hover{
	background-color: #27963d;
	color: #FFF;
}
.back{
	background-image: url("../img/pozadina-početna.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	background-attachment:fixed;
}
.back-pocetna{
	height:970px;
}
.back-ostalo{
	height:630px;
}
.ostalo{
	top: 170px !important;
}
.top2{
	top: 220px !important;
	position: relative;
}
#block-ponude{
	padding:100px 0px;
}
.ponude{
	display:flex;
	justify-content:space-between;
	margin:0px auto;
	flex-wrap:wrap;
	height:300px;	
	font-size:40px;
	text-align:center;
	width:88%;
	padding:0px 50px 0px 50px;
}
.ponuda{
	padding:12px 50px 20px 50px;
	width:23.5%;
	background-color:rgba(207, 178, 126, 0.3);
	border-radius:30px;
	transition: box-shadow 0.5s;
}
.ponuda:hover{
	box-shadow: 0px 20px 30px rgb(48, 39, 21);
}
.ponude p{
	font-size:17px;
	margin-top: 15px;
	text-align:justify;
}
.ponude h3{
	font-size:21px;
}
.proizvod img{
	border-radius:15px;
	box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
	margin-bottom:30px;
}
.proizvod h3{
	font-size: 25px;
}
.cena{
	float:right;
	font-weight:bold;
}
.mušterija{
	text-align:center;
}
.mušterija img{
	border-radius:50%;
	width:40%;
}
.mušterija p{
	padding:0px 20px;
}
.transformacija img{
	transition: transform 0.5s ease;
}
.transformacija img:hover{
	transform: scale(1.1);
}
#opekari{
	width:100%;
	background-color:#FFF;
	padding-top:100px;
}
.opekari-sadržaj{
	margin:0px auto;
	width:80%;
	height:410px;
}
.opekari-sadržaj img{
	border-radius: 15px;
	box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
}
.opekari-sadržaj-levo{
    float: left;
}
.opekari-sadržaj-desno{	
    float: right;
}
.opekari-sadržaj-desno, .opekari-sadržaj-levo{
	width: 50%;
    height: 410px;
    padding: 30px;
    box-sizing: border-box;
    text-align: justify;
	display: inline;
}
.opekari-sredina{
	width:100%;
	background-color:#cfb27e;
}
.opekari-sredina img{
	margin-left:100px;
}
.marginBottom{
	margin-bottom:100px;
}
.slika img {
    border-radius: 20px;
	width:85%;
}
.slika:hover{
	transform: scale(1.1);
	transition: ease;
	transition-duration: 0.3s;
}
.podaci{
	width:33.3%;
	text-align:center;
}
.podaci h4{
	font-size:23px;
}
.podaci h4, .podaci p{
	margin-bottom: 10px;
	color:#FFF
}
.podaci a{
	color:#FFF;
}
.podaci a:hover{
	color:#cfb27e;
}
.futer-lista li{
	float:right;
	width:200px;
	text-align: end;
}
.bold{
  font-weight: bold;
}
.naslov-podaci h4, .podaci p{
	text-align: left;
}
.naslov-linkovi{
	text-align: right;
}
#logo-futer img{
	width:100%;
	margin:0px auto;
}
.linkovi{
	margin: 20px 0px 20px 20px;
}
.linkovi a:hover{
	color:#cfb27e;
}
.linkovi a{
	padding:10px;
	border-radius:5px;
	margin-top:10px;
	font-size:20px;
	color:#FFF;
}
.futer-lista ul li{
	list-style-type:none;
}
.kopirajt p{
	margin-left: 70px;
	color:#cfb27e;
}
.proizvodi{
	width:100%;
	display:flex;
	background-color:#fff;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	text-align:left;
}
.proizvod{
	padding:0px 20px 0px 20px;
}
.proizvod p{
	width:500px;
	text-align:justify;
}
.borderRight{
	border-right: 2px solid #c2c2c2;
}
.naslov{
	width: 100%;
    text-align: center;
	font-size: 22px;
	margin:0px auto;
	margin-bottom: 80px;
	text-transform:uppercase;
	letter-spacing:5px;
	color:#693d0c;
}
.hr{
    border-bottom: 4px solid #cfb27e;
    width: 100px;
    margin: 10px auto;
}
.marginTop{
	margin-top:100px;
}
#forma{
	width: 45%;
}
#forma form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.deo-forme{
	width: 100%;
	margin-bottom: 10px;
}
#forma input, #forma textarea, #forma #izaberite{
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
}
#forma textarea{
	height: 200px;
	resize: vertical;
}
#forma #naruči, #forma #odustani{
	width: 15%;
	background-color: #693d0c;
	padding: 10px;
	color:#FFF;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius:20px;
	transition: all 0.3s;
}
#forma #naruči:hover, #forma #odustani:hover{
	background-color: #27963d;
	color:#FFF;
}
.imePrezime{
	width: 48%;
}
#mapa{
	width:45%;
}
#mapa iframe {
    width: 100%;
    height: 100%;
    border: 0px;
	border-radius:30px;
	box-shadow: 0px 5px 10px 0px rgb(48, 39, 21);
}

#posao{
    position: relative;
    background-image: url(../img/pozadina-posao.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment:fixed;
    padding: 30px 0px;
}
.tamno{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
}
#posao .tekst {
    position: relative;
    z-index: 1;
	margin: 0px auto;
}
#posao p{
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
}
.proizvod ul li{
	margin-left:20px;
}
#mojaSlika{
	margin:0px auto;
}
#biografija{
	margin:0px auto;
	font-size:17px;
	text-align:center;
	font-weight:bold;
}
#mojaSlika img{
	border-radius:40px;
	box-shadow:0px 5px 10px 0px #000;
}
#podaci{
	width:45%;
}
#autor, #kontakt{
	width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@keyframes fadeIn{
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
.razmak{
	margin-bottom: 10px;
	margin-top: 10px;
	color:#27963d;
}